@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 80%;
    --secondary-foreground: 240 6% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --info: 204 94% 94%;
    --info-foreground: 199 89% 48%;

    --action: 225 80% 65%;
    --action-foreground: 225 0% 98%;

    --header: 260 53% 52%;
    --header-foreground: 260 0% 98%;

    --success: 116 46% 49%;
    --success-foreground: 116 0% 98%;

    --new: 202 62% 60%;
    --new-foreground: 202 0% 98%;

    --nav: 234 83% 58%;
    --nav-foreground: 234 0% 98%;

    --warning: 48 96% 89%;
    --warning-foreground: 25 95% 53%;

    --error: 0 93% 94%;
    --error-foreground: 0 84% 60%;

    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .designer,
  [data-kb-theme="designer"] {
    --new: 271 81% 62%;
    --new-foreground: 271 0% 98%;


    --action: 240 76% 62%;
    --action-foreground: 232 0% 98%;


    --header: 220 81% 62%;
    --header-foreground: 291 0% 98%;

    --nav: 239 84% 67%;
    --nav-foreground: 234 0% 98%;
  }

  .prosupervisor,
  [data-kb-theme="prosupervisor"] {
    --new: 215 54% 62;
    --new-foreground: 152 0% 100%;

    --action: 36 86% 66%;
    --action-foreground: 232 0% 98%;

    --header: 0 59% 55%;
    --header-foreground: 291 0% 98%;

    --nav: 352 64% 38%;
    --nav-foreground: 234 0% 98%;
  }

  .commerce,
  [data-kb-theme="commerce"] {
    --new: 148 29% 65%;
    --new-foreground: 148 29% 100%;

    --action: 205 100% 82%;
    --action-foreground: 205 100% 22%;

    --header: 258 22% 56%;
    --header-foreground: 258 22% 98%;

    --nav: 36 89% 61%;
    --nav-foreground: 36 89% 97%;
  }

  .cortesupervisor,
  [data-kb-theme="cortesupervisor"],
  .empqsupervisor,
  [data-kb-theme="empqsupervisor"],
  .confsupervisor,
  [data-kb-theme="confsupervisor"],
  .caldsupervisor,
  [data-kb-theme="caldsupervisor"] {
    --new: 36 100% 69%;
    --new-foreground: 152 0% 100%;

    --action: 47 63% 82%;
    --action-foreground: 46 63% 32%;

    --header: 0 45% 62%;
    --header-foreground: 291 0% 98%;

    --nav: 98 21% 40%;
    --nav-foreground: 98 21% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}