# JWT settings:
JWT_ACCESS_KEY="secret"
JWT_REFRESH_KEY="refresh"


# DB settings
DB_HOST="db-dev"
GEN_HOST="localhost"
DB_PORT=5432
DB_USER="vytex"
DB_NAME="vytex"
DB_PASSWORD="vytex"

# DB Test
DB_HOST_TEST="db-test"
SEED_HOST="localhost"
DB_PORT_TEST=5432
DB_USER_TEST="vytex_test"
DB_NAME_TEST="vytex_test"
DB_PASSWORD_TEST="vytex_test"

ENV="test"

# General
QUERY_LIMIT_DEFAULT=50